######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
*.hprof

######################
# Gradle
######################
.gradle/
bin/
*/build/
build/
.gradletasknamecache

######################
# Directories
######################
/bin/
/deploy/
*/out/
out/

######################
# Mac OSX
######################
.DS_Store